body{
    margin:0px;   
    overflow: hidden;  
}

superman {
    background: url("../img/Superman.png") no-repeat center top;
}

gravitybar{
    background-color:red;
}

decor{
    background-color: #19c4ef;
    background: url("../img/Background.png") center top;
}

/* startscherm{
    background-color: #19c4ef;
} */
