body{
    margin:0px;   
    overflow: hidden; 
    background-color:#19c4ef; 
}

superman {
    background: url("../img/The_Flying_Man.png") no-repeat center top;
    position: absolute;
    width:82px;
    height:125px;
}

gravitybar{
    background-color: transparent;
    position: absolute;
    width:100%;
    height:1px;
}

#container{
    background: url("../img/Background.png");
    height:100%;
}

tower{
    background: url("../img/Brick.png") center top;
    position : absolute;
}

startscherm{
    display:inline-block;
    position: absolute;
    width:100%;
    height:100%;
    background: url("../img/Background.png") no-repeat center top;
}

startscherm > h1{
    font-family: "Titillium Web";
    font-weight: 700;
    color:#ff5062;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    margin:0px;
    margin-top:calc(25% - 60px);
    padding-left:10%;
    padding-right:10%;
}

eindscherm{
    display:inline-block;
    position: absolute;
    text-align: center;
    width:100%;
    height:100%;
    background: url("../img/Background_gameover.png") no-repeat center bottom;
}

eindscherm > h1{
    font-family: "Titillium Web";
    font-weight: 700;
    color:#ff5062;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    margin:0px;
    margin-top:calc(25% - 160px);
}

eindscherm > button{
    font-family: "Titillium Web";
    font-weight: 700;
    color:white;
    background-color:#ff5062;
    font-size:30px;
    text-align:  center;
    border: 2px solid #ff5062;
    border-radius:30px;
    padding: 5px 80px;
    margin-top:10px;
}

.scorefield{
    z-index:2;
    position: absolute;
    font-family: "Titillium Web";
    font-weight: 700;
    color:#ff5062;
    font-size: 30px;
    text-align: center;
    margin:15px;
}

#pointfield{
    margin:15px;
}

#highscorefield{
    margin-left:15px;
    margin-right:15px;
    margin-top:60px;
    margin-bottom:15px;
}
